<!DOCTYPE html>
<html>
  <head>
    <title>FitnessTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="google-site-verification" content="aLUyoTDlIv8jOgCln9IQbNqD2p8f57gRkJnxXv3n79Y" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
